.pytest_cache/
.venv/
neuralLibrary/__pycache__/
unitTests/__pycache__/
ExampleCode/MNISTExample/data/
unitTests/.pytest_cache
ExampleCode/MNISTExample/WeightsAndBiases/
benchmarkFolder/MNISTBenchmark/data
benchmarkFolder/MNISTBenchmark/WeightsAndBiases
unitTests/CNN/__pycache__/
unitTests/NN/__pycache__/
.coverage
quacknet/__pycache__/
unitTests/__pycache__/
QuackNet.egg-info/
dist/
unitTests/RNN/__pycache__/
.vscode/
QuackNet.egg-info/
dist/
__pycache__/
_oldCode/
extra.txt
*.pyc